body {
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2 {
  text-align: center
}

h3 {
	text-align: left;
}

th {
  background-color: blue;
}

svg {
	display: inline-block;
	height: 100px;
	width: 100px;
}

circle {
	opacity: 50%;
	fill: green;
}

circle:hover {
	border-style: solid;
}

rect {
	border-style: solid;
	fill: red;
}

rect:hover {
	fill: blue;
}