body {
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2 {
  text-align: center
}

h3 {
	text-align: left;
}

th {
  background-color: blue;
}

svg {
	display: inline-block;
	height: 100%;
	width: 25%;
}

circle {
	height: 50px;
	width: 50px;
	opacity: 50%;
	fill: green;
	r: 50px;
	cx: 50px;
	cy: 50px;
}

circle:hover {
	stroke: black;
  stroke-width: 1px;
}

rect {
  height: 100px;
  width: 100px;
	stroke: black;
  stroke-width: 1px;
	fill: green;
}

rect:hover {
	fill: blue;
}

.flex {
	display: flex;
	flex-direction: row;
}

.column1 {
	width: 50%;
	height: 100vh;
	color: white;
}

.column2 {
	width: 50%;
	height: 100vh;
}
          